
header { 
    background-color: rgb(38, 38, 121); 
    color: white; 
    padding: 10px;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#textLink{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
    font-size: medium;
}
#textLink:hover {
    color: lightblue;
}

#icon {
    stroke: white;
}

#icon:hover {
    stroke: lightblue;
}

.userIcon {
    stroke: white;
}

.userIcon:hover {
    stroke: lightblue;
}

.iconLinks {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 32px;
}