.profile-body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2f80ed;
    padding: 15px;
    color: white;
    }

.patient-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-patient-details,
.profile-appointment-request {
    width: 48%;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    justify-content: center
}

.profile-textarea {
    width: 80%;
    height: 50px;
}

.logs {
    display: flex;
    justify-content: space-between;
}

.new-log,
.log-history {
    width: 48%;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}

.log-entry {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.log-details {
    display: none;
    margin-top: 5px;
}

.profile-button {
    background-color: #2f80ed;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #367cd8;
}

.reason-preview {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    font-style: italic;
}

.new-log {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.new-log textarea {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 60px;
}

.profile-list {
    list-style-type: none;
    padding: 0;
}