.navbar-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  color: white;
  border-radius: 10px;
}

.navbar-guest h2 {
  margin: 0 20px;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  transition: color 0.3s;
}

.navbar-guest h2:hover {
  color: #4993f5;
}

.navbar-guest-icons {
  display: flex;
  gap: 20px;
}

.navbar-guest-icons i {
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
