.medication-plan-container {
  padding: 40px;
  background: linear-gradient(to bottom right, #f0f8ff, #8bb0f2);
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  /* gap: 30px; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left-panel {
  flex: 1;
  text-align: center;
}

.prescription-image {
  width: 60%;
  max-width: 180px;
  height: auto;
  margin-top: 20px;
}

.right-panel {
  flex: 1;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1, h2 {
  color: #333;
}

.medication-info {
  background-color: #eff5fc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}


.medication-info p {
  font-size: 1.2em;
  color: #666;
}

.go-back-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #4993f5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-back-button:hover {
  background-color: #367cd8;
}
